<header>
  <div class="divHeader">
    <div class="logoHeader">
      <a href="/">
        <img
          src="/assets/images/Logo branca sem fundo.png"
          alt="logo mondialle imobiliaria"
          id="logoHeader"
        />
      </a>
    </div>

    <div class="menuHeader">
      <nav>
        <a href="/" class="<%= pagina === 'home' ? 'is-active' : '' %>">Inicio</a>
        <a href="/venda" class="<%= pagina === 'venda' ? 'is-active' : '' %>">Venda</a>
        <a href="/locacao" class="<%= pagina === 'locacao' ? 'is-active' : '' %>">Locação</a>
        <a href="/sobre" class="<%= pagina === 'sobre' ? 'is-active' : '' %>">Sobre a Mondialle</a>
        <a href="/contato" class="<%= pagina === 'contato' ? 'is-active' : '' %>">Contato</a>
      </nav>
    </div>

    <div class="anuncieHeader">
      <a href="/anunciar">Anuncie seu imovel</a>
    </div>
  </div>
</header>
